.mui-bar {
    background: -webkit-linear-gradient(left, #51A3FC, #409BFE);
    background: linear-gradient(to right, #51A3FC, #409BFE);
}
a {
    color: #FFFFFF;
}
.announcement{
	margin-top: 45px;
}
.announcement li{
	height: 1.4rem;
	line-height: 1.4rem;
	border-bottom: 1px solid #E2E2E2;
	padding: 0 0.8rem;
}
.announcementColor{
	color: #51A3FC;
}
/*公告详情*/
.announcement h5{
	color: #51A3FC;
	line-height: 2rem;
	text-align: center;
}
.announcement p{
	padding: 0 0.8rem;
	text-indent: 2em;
	line-height: 0.8rem;
}
.announcement p:last-child{
	text-align: right;
	margin-top: 1rem;
}
