.register {
    width: 80%;
    margin: 3rem auto 0;
}
.register li {
    border-bottom: 1px solid #999999;
    position: relative;
}
.register input {
    background: transparent;
    border: transparent;
    margin-bottom: 0;
    padding: 0;
    font-size: 0.35rem;
}
.register span, .register button {
    color: #52A3FC;
    position: absolute;
    right: 0.2rem;
    top: 0.3rem;
}
.checkbox {
    width: 80%;
    margin: 0.3rem auto 0;
    color: #52A3FC;
}
.checkbox input[type='checkbox'] {
    width: 0.4rem;
    height: 0.4rem;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
}
.checkbox input[type='checkbox']:checked {
    background-color: #52A3FC;
    border: none;
    content: '\e442'
}