<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Admin/sncss/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Admin/sncss/js/jquery.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".click").click(function () {
                    $(".tip").fadeIn(200);
                });

                $(".tiptop a").click(function () {
                    $(".tip").fadeOut(200);
                });

                $(".sure").click(function () {
                    $(".tip").fadeOut(100);
                });

                $(".cancel").click(function () {
                    $(".tip").fadeOut(100);
                });

            });
        </script>
    </head>
    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">订单管理</a></li>
                <li><a href="#">买入订单--非预付款</a></li>
            </ul>
        </div>
        <div class="rightinfo">
            <div class="tools">
                <form id="form1" name="form1" method="post" action="/Adminlmcq/Wealth/buyOrdertow">
                    <input name="user_name" placeholder="请输入会员手机号或订单编号" type="text" class="dfinput" id="user" />
                    <input name="" type="submit" class="btn" value="确认搜索"/>
                </form>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>总充值:{$allmoney}&nbsp;&nbsp;待匹配:{$waitmoney}&nbsp;&nbsp;交易中:{$moneying}&nbsp;&nbsp;交易成功:{$successmoney}</td>
                <!-- <td align="right"><a href="/Adminlmcq/Wealth/buyOrder/cz/0/">未匹配</a> <a href="/Adminlmcq/Wealth/buyOrder/cz/1/">已匹配</a> 
                </td> -->
              </tr>
            </table>
            <table class="tablelist">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>会员昵称</th>
                        <th>联系电话</th>
                        <th>买入股权数</th>
<!--                        <th>买入非预付金额</th>-->
                        <th>订单编号</th>
                        <th>状态</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name='list' item='v'>
                        <tr>
                            <td>{$v.id}<!-- &nbsp;&nbsp;<a onClick="javascript:if(!confirm('确认要删除吗？'))  return  false; " href="/Adminlmcq/Wealth/orderdelete/id/{$v.id}" >删除</a> --></td>
                            <td>{$v.user_name}</td>
                            <td>{$v.user_phone}</td>
<!--                            <td>{$v.parent_amount}</td>-->
                            <td>{$v.amount}</td>
                            <td>{$v.order_number}</td>
                            <td>
                                <if condition="$v.matching eq 0">待匹配</if>
                                <if condition="$v.matching eq 1">交易中</if>
                                <if condition="$v.matching eq 2">已完成</if>
                            </td>
                            <td>{$v.addtime}</td>
                            <td><a href="/Adminlmcq/Wealth/inputlisttow/id/{$v.id}/">手动匹配</a>
                                <a href="/Adminlmcq/Wealth/del_help/tid/{$v.id}/">删除</a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <style>.pages a,.pages span {
                    display:inline-block;
                    padding:2px 5px;
                    margin:0 1px;
                    border:1px solid #f0f0f0;
                    -webkit-border-radius:3px;
                    -moz-border-radius:3px;
                    border-radius:3px;
                }
                .pages a,.pages li {
                    display:inline-block;
                    list-style: none;
                    text-decoration:none; color:#58A0D3;
                }
                .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
                    margin:0;
                }
                .pages a:hover{
                    border-color:#50A8E6;
                }
                .pages span.current{
                    background:#50A8E6;
                    color:#FFF;
                    font-weight:700;
                    border-color:#50A8E6;
                }</style>

            <div class="pages"><br />
                <div align="right">{$page}
                </div>
            </div>

            <!--<div class="pages"><br />-->

                <!--<div align="right">{$page}-->
                    <!--<input name="new_page" type="number" class="dfinput" id="new_page"  min="1" placeholder="请输入要跳转的页码" />-->
                    <!--<input name="new_page_btn" type="button" class="btn" id="new_page_btn"  value="确认"/>-->
                <!--</div>-->
            <!--</div>-->


            <div class="tip">
                <div class="tiptop"><span>提示信息</span><a></a></div>

                <div class="tipinfo">
                    <span><img src="images/ticon.png" /></span>
                    <div class="tipright">
                        <p>是否确认对信息的修改 ？</p>
                        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                </div>

                <div class="tipbtn">
                    <input name="" type="button"  class="sure" value="确定" />&nbsp;
                    <input name="" type="button"  class="cancel" value="取消" />
                </div>

            </div>




        </div>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
            $("#new_page_btn").click(function () {
                var new_page=$("#new_page").val();
                var search_data=$("#user").val();
                if(new_page=='' || new_page=='undefined' || new_page <1){
                    alert('请输入正确的页码');
                    return false;
                }
                var go_url='';
                if(search_data.length<=0){
                    go_url='/Adminlmcq/Wealth/wallet/p/'+new_page+'.html';
                }else{
                    go_url='/Adminlmcq/Wealth/wallet/user_name/'+search_data+'/p/'+new_page+'.html';
                }
                window.location.href=go_url;
            });
        </script>

    </body>

</html>
