<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$Think.lang.repass}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pay-withdraw.css" />
		<script src="__PUBLIC__/Home/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// H5 plus事件处理
			function plusReady() {
				// 设置系统状态栏背景为红色
				plus.navigator.setStatusBarBackground('#409BFE');
                plus.navigator.setStatusBarStyle('light');
			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener('plusready', plusReady, false);
			}
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#886dee ;">
			<a href="/Home/Mymessage/myinfo" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改密码</h1>
		</header>
		<div id="pay" class="mui-slider">
				<div id="BankCard">
					<!--
                     	作者：18291958857@163.com
                     	时间：2018-12-17
                     	描述：修改密码
                     -->
                    <div class="promptPayUpdate" style="margin-top: 2rem;font-size: 0.4rem;">
                    	{$Think.lang.phonenum}:<span id="phone">{$phone}</span>
                    	<!-- 手机:<input type="text" id="phone" value="{$phone}" placeholder="手机号"/> -->
                	</div>
					<ul class="concentMain">
						<!-- <li class="flexStar" style="">
							 <input type="text" id="phone" value="{$phone}" placeholder="手机号"/>
						</li> -->
						<li class="flexStar">
							 <input type="number" id="sms_code" value="" placeholder="{$Think.lang.verification}" /> 
							 <button id="code" class="code">{$Think.lang.getverifi}</button>
						</li>
						<li class="flexStar">
							 <input type="password" id="password" value="" placeholder="{$Think.lang.password}"/>
						</li>
						<li class="flexStar">
							 <input type="password" id="repassword" value="" placeholder="{$Think.lang.besurepass}" /> 
						</li>
						<li class="flexStar">
							<label for=""><input type="radio" name="type" value="1" checked class="t_romm_ip" />登录密码</label>
							<label for=""><input type="radio" name="type" value="2" class="t_romm_ip" />资金密码</label>
						</li>
					</ul>
					<button class="btn">{$Think.lang.confirm}</button>
				</div>
		</div>
		
		<script type="text/javascript">
			$('.btn').click(function(){
				var type = $('input:radio:checked').val();
				var phone = $('#phone').text()
				var code = $('#sms_code').val()
				var password = $('#password').val()
				var repassword = $('#repassword').val()
				console.log(phone,code,password,repassword)
				var regu = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/; 
				var re = new RegExp(regu);
				if(password == "" || password == null || password == undefined){ // "",null,undefined
					alert("请输入密码！");
					return false;
				}
				if(repassword == "" || repassword == null || repassword == undefined){ // "",null,undefined
					alert("请再次输入密码！");
					return false;
				}
				$.ajax({
					url:'/Home/Mymessage/changepassword',
					data:{
						phone:phone,
						code:code,
						type:type,
						password:password,
						repassword:repassword,					},
					type:'POST',
					success:function(str){						
						if(str.status == 0){
							alert(str.message);
							location.href="/Home/Login/login";
						}else{
							alert(str.message);
						}
					}
				});
			});
			var delay_time = 120; //短信验证码时间
			var isok_click = 1;
			var i2 = delay_time;
			$("#code").click(function() {
			    var ob = $(this);
			    if (isok_click) {
			        isok_click = 0;
			        ob.attr("disabled", true);
			        var phone = $('#phone').text();
			        console.log(phone);
			        $.post("/Home/Mymessage/upPasswordSendSms", { user_phone:phone }, function(data) {
			                alert(data.message);
			                if(data.status == 1){
			                var i = delay_time;
			                var intval = setInterval(function() {
			                    ob.html(i);
			                    i--;
			                    i2 = i;
			                    if (i < 0) {
			                        isok_click = 1;
			                        i2 = delay_time;
			                        ob.removeAttr("disabled");
			                        ob.html("{$Think.lang.reget}");
			                        clearInterval(intval);
			                    }
			                }, 1000);
			            }
			        });

			    } else {
			        var timer_s = Math.ceil(i2 * 1 / 60);
			        var timer_s2;
			        switch (timer_s) {
			            case 1:
			                timer_s2 = '一';
			                break;
			            case 2:
			                timer_s2 = '二';
			                break;
			            case 3:
			                timer_s2 = '三';
			                break;
			            case 4:
			                timer_s2 = '四';
			                break;
			            case 5:
			                timer_s2 = '五';
			                break;
			            default:
			                timer_s2 = '';
			        }
			        pop("当前验证码还未过期，请" + timer_s2 + "分钟后再来。");
			        return;
			    }
			});
		</script>
	</body>

</html>