<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/sncss/css/style.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Admin/sncss/js/jquery.js"></script>
</head>

<body>

	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">会员管理</a></li>
            <li><a href="#">邀请码管理</a></li>
        </ul>
    </div>
    
    <div class="formbody">
    <div class="formtitle"><span>邀请码管理</span></div>
        <!-- <form id="form1" name="form1" method="post" action="/Adminlmcq/Shop/index"> -->
            <!-- <ul class="forminfo">
            	 <li><label>充值类别：</label><input name="jinbi" type="radio" style="height: 34px; float: left;" id="jinbi" value="1" checked="checked" />
                    <label style="margin-left: 4px;">金币</label>
                    <input type="radio" name="jinbi" type="radio" style="height: 34px;float: left;" id="caifubi" value="2" />
                    <label style="margin-left: 4px;">理财金</label>
                    <input type="radio" name="jinbi" type="radio" style="height: 34px;float: left;" id="kaihuma" value="3" />
                    <label style="margin-left: 4px;">开户码</label>
            	 </li>
            </ul> -->
            <ul class="forminfo">
                 <li><label style="width: 100px;">用户手机号：</label><input name="username" type="text" id="username" class="dfinput" />
                 <!-- <i><input name="" type="submit" class="btn" value="添加"/></i> --></li>
            </ul>
            <ul class="forminfo">
                 <li><label style="width: 100px;">充值/扣减数量：</label><input name="number" type="text" id="number"  class="dfinput"/><br><br><br>
                 <i style="padding-left: 100px;"><input name="" type="button" class="btn" value="充值" id="topay" /></i><i><input name="" type="button" class="btn" value="扣减" id="todown" /></i></li>
            </ul>
        <!-- </form> -->
    
	
	 <table class="tablelist">
    	<thead>
        	<tr>
                <th width="30">用户ID</th>
                <th width="80">用户名</th>
                <th width="50">手机号</th>
                <th width="50">原始数量</th>
                <th width="50">充值数量</th>
                <th width="50">剩余数量</th>
                <th width="50">充值时间</th>
                <th width="30">类别</th>
                <!-- <th width="30">操作</th> -->
            </tr>
        </thead>
        <tbody>
		<foreach name='list' item='v'>
            <tr>
        		 <td>{$v.user_id}</td>
        		 <td>{$v.user_name}</td>
                 <td>{$v.user_phone}</td>
                 <td>{$v.old_amount}</td>
                 <td>{$v.amount}</td>
                 <td>{$v.remain_amount}</td>
                 <td><?php echo date('Y-m-d H:i:s',$v['change_date']);?></td>
                 <td>{$v.log_note}</td>
        		 <!-- <td><a onclick="del(this)" style='margin-left:10px;cursor:pointer;'>删除</a></td> -->
            </tr> 
       </foreach>
       </tbody>
    </table>
<style>.pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    border-color:#50A8E6;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}</style>
   
   <div class="pages"><br />
        <div align="right">{$page}
        </div>
   </div>
	
	
	
    </div>


</body>
<script>
    $("#topay").click(function(){
        var username = $('input[name=username]').val();
        var number = $('input[name=number]').val();
        if (username=="") {
            alert("请填写用户手机号");
            return;
        }
        if (number=="") {
            alert("请填写充值数量");
            return;
        }
        $.ajax({
            url:'/Adminlmcq/User/activebuy',
            data:{username:username,number:number},
            dataType:'json',
            type:'post',
            success:function(data){
                if (data.status==0) {
                    alert(data.message);
                }else{
                    alert("充值成功");
                    location.href="/Adminlmcq/User/activecode";
                }
            }
        })
    });
    $("#todown").click(function(){
        var username = $('input[name=username]').val();
        var number = $('input[name=number]').val();
        if (username=="") {
            alert("请填写用户手机号");
            return;
        }
        if (number=="") {
            alert("请填写扣减数量");
            return;
        }
        $.ajax({
            url:'/Adminlmcq/User/activecall',
            data:{username:username,number:number},
            dataType:'json',
            type:'post',
            success:function(data){
                if (data.status==0) {
                    alert(data.message);
                }else{
                    alert("扣减成功");
                    location.href="/Adminlmcq/User/activecode";
                }
            }
        })
    });       
</script>
</html>
