<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$Think.lang.forgetpassword}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/register.css" />
		<script src="__PUBLIC__/Home/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/flexible.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript">
			// H5 plus事件处理
			function plusReady() {
				// 设置系统状态栏背景为红色
				plus.navigator.setStatusBarBackground('#FFFFFF');
                plus.navigator.setStatusBarStyle('dark');
			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener('plusready', plusReady, false);
			}
		</script>
	</head>
<style type="text/css">
	.forgert_top{height: 44px;background: #886DEE;position: relative;}
	.forgert_top h5{height: 44px;line-height: 44px;text-align: center;color: #fff;font-size: .45rem;}
	.forgert_top a{position: absolute;top: 0;left: 0;width: 44px;height: 44px;text-align: center;}
	.forgert_top a img{height: 24px;display: inline;margin-top: 10px;}
	.register li:nth-last-child(1) b img{
		height: 18px;
	}
	.register li:nth-last-child(1)>img{
		position: absolute;
		top: 50%;
		right: 0;
		height: 1rem;
		margin-top: -0.5rem;
		width:2.5rem;
	}
</style>
	<body>
		<div class="forgert_top">
			<a onclick="javascript :history.back(-1);"><img src="__PUBLIC__/Home/img/icon/login_icon_fanhui@2x.png"/></a>
			<h5>忘记密码</h5>
		</div>
		<ul class="register">
			<!-- <li>
				<b><img src="__PUBLIC__/Home/img/icon/phone@2x.png" alt="" /></b>
				<input id="user_name" type="text" placeholder="请输入用户名" />
			</li> -->
			<li>
				<b><img src="__PUBLIC__/Home/img/icon/phone@2x.png" alt="" /></b>
				<input id="user_phone" type="text" placeholder="{$Think.lang.phone}" />
			</li>
			<li>
				<b><img src="__PUBLIC__/Home/img/icon/code.png" alt="" /></b>
				<input id='phone_code' type="text" placeholder="{$Think.lang.verification}" />
				<button id="code">{$Think.lang.getverifi}</button>
			</li>
			<li>
				<b><img src="__PUBLIC__/Home/img/icon/password@2x.png" alt="" /></b>
				<input id="password" type="password" placeholder="{$Think.lang.newpassword}" />
			</li>
			<li>
				<b><img src="__PUBLIC__/Home/img/icon/password@2x.png" alt="" /></b>
				<input id="repassword" type="password" placeholder="{$Think.lang.surepassword}" />
			</li>
			<li>
				<b><img src="__PUBLIC__/Home/img/icon/login_icon_yzm02@2x.png" alt="" /></b>
				<input id="repassword" type="password" placeholder="请输入验证码" />
				<img src="/Home/login/verify" name="" height="35" id="" style="float:right;width:35%;position: absolute;bottom: 0.5rem;right: 0.2rem" onclick="this.src='/Home/login/verify?'+Math.random();">
			</li>
		</ul>
		 
		<button class="btn">确认修改</button>
		
		<script type="text/javascript">
			//ajax
			$('.btn').click(function(){
				var user_name = $('#user_name').val();
				var user_phone = $('#user_phone').val();
				if(user_name == '' || user_phone == ''){
					alert('用户名和手机号不能为空！');
					return false;
				}
				var password = $('#password').val();
				var repassword = $('#repassword').val();
				var regu = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/; 
				var re = new RegExp(regu); 
				// if (re.test(password)&&re.test(repassword)) { 
				// 	//alert("密码符合要求！"); 
				// }else{ 
				// 	alert("密码必须是6~18位字母,数字组合！");
				// 	return false;
				// }
				$.ajax({
					url:'/Home/Login/forgetPassword',
					data:{
					  user_name  : $('#user_name').val(),
			          user_phone : $('#user_phone').val(),
			          phone_code : $('#phone_code').val(),
			          password   : $('#password').val(),
			          repassword : $('#repassword').val(),
					},
					type:'POST',
					success:function(str){
						alert(str.message);
						if(str.status == 1){
							location.href="/Home/Login/login";
						}
					}
				});
			});

			//获取验证码
			// var btn = document.getElementById('code');
			// $('#code').on('tap', function() {
			// 	var time = 60;
			// 	var timer = null;
			// 	timer = setInterval(function() {
			// 		btn.disabled = true;
			// 		btn.innerText = time + "s";
			// 		time--;
			// 		if(time == 0) {
			// 			btn.innerText = '重新获取';
			// 			btn.disabled = false;
			// 			clearInterval(timer);
			// 		}
			// 	}, 1000)
			// })
			// //确认
			// $('.btn').on('tap', function() {
			// 	location.href = 'login.html';
			// });
			var delay_time = 120; //短信验证码时间
			var isok_click = 1;
			var i2 = delay_time;
			$("#code").click(function() {
			    var ob = $(this);

			    if (isok_click) {
			        isok_click = 0;
			        ob.attr("disabled", true);
			        var user_phone = $('#user_phone').val();

			        $.post("/Home/Login/sendSmsZhmm", { user_phone:user_phone }, function(data) {
			                alert(data.message);
			                if(data.status == 1){
			                var i = delay_time;
			                var intval = setInterval(function() {
			                    ob.html(i);
			                    i--;
			                    i2 = i;
			                    if (i < 0) {
			                        isok_click = 1;
			                        i2 = delay_time;
			                        ob.removeAttr("disabled");
			                        ob.html("{$Think.lang.reget}");
			                        clearInterval(intval);
			                    }
			                }, 1000);
			            }
			        });

			    } else {
			        var timer_s = Math.ceil(i2 * 1 / 60);
			        var timer_s2;
			        switch (timer_s) {
			            case 1:
			                timer_s2 = '一';
			                break;
			            case 2:
			                timer_s2 = '二';
			                break;
			            case 3:
			                timer_s2 = '三';
			                break;
			            case 4:
			                timer_s2 = '四';
			                break;
			            case 5:
			                timer_s2 = '五';
			                break;
			            default:
			                timer_s2 = '';
			        }
			        pop("当前验证码还未过期，请" + timer_s2 + "分钟后再来。");
			        return;
			    }
			});

		</script>
	</body>

</html>