<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{$Think.lang.risk_waring}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/risk.css" />
		<script type="text/javascript">
			// H5 plus事件处理
			function plusReady() {
				// 设置系统状态栏背景为红色
				plus.navigator.setStatusBarBackground('#409BFE');
                plus.navigator.setStatusBarStyle('light');
			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener('plusready', plusReady, false);
			}
		</script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="register.html" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">{$Think.lang.risk_waring}</h1>
		</header>
		<h4>{$Think.lang.safe_waring}</h4>
		<p>{$Think.lang.safe_waring1}</p>
		<p>{$Think.lang.safe_waring2}</p>
		<p>{$Think.lang.safe_waring3}</p>
		<p>1.{$Think.lang.safe_waring4}</p>
		<p>2.{$Think.lang.safe_waring5}</p>
		<p>3.{$Think.lang.safe_waring6}</p>
		<p>4.{$Think.lang.safe_waring7}</p>
		<p>5.{$Think.lang.safe_waring8}</p>
		<p>6.{$Think.lang.safe_waring9}</p>
		<p>7.{$Think.lang.safe_waring10}</p>
		<p>8.{$Think.lang.safe_waring11}</p>
		<p>{$Think.lang.safe_waring12}</p>
		<p>（一）{$Think.lang.safe_waring13}</p>
		<p>1.{$Think.lang.safe_waring14}</p>
		<p>2.{$Think.lang.safe_waring15}</p>
		<p>3.{$Think.lang.safe_waring16}</p>
		<p>4.{$Think.lang.safe_waring17}</p>
		<p>5.{$Think.lang.safe_waring18}</p>
		<p>6.{$Think.lang.safe_waring19}</p>
		<p>7.{$Think.lang.safe_waring20}</p>
		<p>（二）{$Think.lang.safe_waring21}</p>
		<p>{$Think.lang.safe_waring22}</p>
		<p>1.{$Think.lang.safe_waring23}</p>
		<p>2.{$Think.lang.safe_waring24}</p>
		<p>3.{$Think.lang.safe_waring25}</p>
		<p>4.{$Think.lang.safe_waring26}</p>
		<p>5.{$Think.lang.safe_waring27}</p>
		<p>6.{$Think.lang.safe_waring28}</p>
		<p>{$Think.lang.safe_waring29}</p>
		<p>1.{$Think.lang.safe_waring30}</p>
		<p>2.{$Think.lang.safe_waring31}</p>
		<p>{$Think.lang.safe_waring32}</p>
		<p>1.{$Think.lang.safe_waring33}</p>
		<p>2.{$Think.lang.safe_waring34}</p>
		<p>3.{$Think.lang.safe_waring35}</p>
		<p>4.{$Think.lang.safe_waring36}</p>
		<p>{$Think.lang.safe_waring37}</p>
		<p>1.{$Think.lang.safe_waring38}</p>
		<p>2.{$Think.lang.safe_waring39}</p>
		<p>3.{$Think.lang.safe_waring40}</p>
		<p>5.{$Think.lang.safe_waring41}</p>
		<p class="warn">{$Think.lang.safe_waring42}</p>
	</body>
</html>
