<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>邀请码订单</title>
        <link href="__PUBLIC__/Admin/sncss/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Admin/sncss/js/jquery.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".click").click(function () {
                    $(".tip").fadeIn(200);
                });

                $(".tiptop a").click(function () {
                    $(".tip").fadeOut(200);
                });

                $(".sure").click(function () {
                    $(".tip").fadeOut(100);
                });

                $(".cancel").click(function () {
                    $(".tip").fadeOut(100);
                });

            });
        </script>
    </head>
    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">订单管理</a></li>
                <li><a href="#">邀请码订单</a></li>
            </ul>
        </div>
        <div class="rightinfo">
            <div class="tools">
                <form id="form1" name="form1" method="post" action="/Adminlmcq/Wealth/codeOrder">
                    <input name="user_phone" placeholder="请输入会员账号" type="text" class="dfinput" id="user" />
                    <input name="" type="submit" class="btn" value="确认搜索"/>
                </form>
            </div>
            <table class="tablelist">
                <thead>
                    <tr>
                        <th width="40">序号</th>
                        <th width="60">会员账号</th>
                        <th width="60">购买数量</th>
                        <th width="60">应支付金额</th>
                        <th width="100">凭证照片</th>
                        <th width="60">状态</th>
                        <th width="100">联系方式</th>
                        <th width="100">添加时间</th>
                        <th width="80">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name='list' item='v'>
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.phone}</td>
                            <td>{$v.number}</td>
                            <td>{$v.price}</td>
                            <td><img src="{$v.img_evidence}" width="80px" height="80px"></td>
                            <td>
                                <if condition="$v.status eq 0">待处理</if>
                                <!-- <if condition="$v.status eq 1">交易中</if> -->
                                <if condition="$v.status eq 2">未通过</if>
                            </td>
                            <td>{$v.phone}</td>
                            <td><?php echo date("Y-m-d H:i:s",$v['addtime']);?></td>
                            <td>
                                <if condition="$v.status eq 0">
                                    <a onClick="javascript:if(!confirm('确认充值邀请码？'))  return  false;" href="/Adminlmcq/Wealth/topay/id/{$v.id}" style='margin-left:30px;cursor:pointer;'>通过</a>
                                    <a onClick="javascript:if(!confirm('确认拒绝？'))  return  false;" href="/Adminlmcq/Wealth/nopay/id/{$v.id}" style='margin-left:20px;cursor:pointer;'>不通过</a>
                                </if>
                                <if condition="$v.status eq 2">
                                    <a onclick="del(this,'{$v.id}')" style='margin-left:60px;cursor:pointer;'>通过</a>
                                </if>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <style>.pages a,.pages span {
                    display:inline-block;
                    padding:2px 5px;
                    margin:0 1px;
                    border:1px solid #f0f0f0;
                    -webkit-border-radius:3px;
                    -moz-border-radius:3px;
                    border-radius:3px;
                }
                .pages a,.pages li {
                    display:inline-block;
                    list-style: none;
                    text-decoration:none; color:#58A0D3;
                }
                .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
                    margin:0;
                }
                .pages a:hover{
                    border-color:#50A8E6;
                }
                .pages span.current{
                    background:#50A8E6;
                    color:#FFF;
                    font-weight:700;
                    border-color:#50A8E6;
                }</style>

            <div class="pages"><br />
                <div align="right">{$page}
                </div>
            </div>

            <!--<div class="pages"><br />-->

                <!--<div align="right">{$page}-->
                    <!--<input name="new_page" type="number" class="dfinput" id="new_page"  min="1" placeholder="请输入要跳转的页码" />-->
                    <!--<input name="new_page_btn" type="button" class="btn" id="new_page_btn"  value="确认"/>-->
                <!--</div>-->
            <!--</div>-->


            <!-- <div class="tip">
                <div class="tiptop"><span>提示信息</span><a></a></div>

                <div class="tipinfo">
                    <span><img src="images/ticon.png" /></span>
                    <div class="tipright">
                        <p>是否确认对信息的修改 ？</p>
                        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                </div>

                <div class="tipbtn">
                    <input name="" type="button"  class="sure" value="确定" />&nbsp;
                    <input name="" type="button"  class="cancel" value="取消" />
                </div>

            </div> -->




        </div>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
            $("#new_page_btn").click(function () {
                var new_page=$("#new_page").val();
                var search_data=$("#user").val();
                if(new_page=='' || new_page=='undefined' || new_page <1){
                    alert('请输入正确的页码');
                    return false;
                }
                var go_url='';
                if(search_data.length<=0){
                    go_url='/Adminlmcq/Wealth/wallet/p/'+new_page+'.html';
                }else{
                    go_url='/Adminlmcq/Wealth/wallet/user_name/'+search_data+'/p/'+new_page+'.html';
                }
                window.location.href=go_url;
            });
            function del(ob,id){
                var ids = id;
                // confirm('确认通过？', function(index) {
                    $.ajax({
                        url: "/Adminlmcq/Wealth/topay",
                        data: {
                            id: ids
                        },
                        type: 'get',
                        success: function(result) {
                            if (result.status == 0) {
                                // layer.msg(result.message, {
                                //     icon: 5,
                                //     time: 1000,
                                // });
                                alert("充值成功!");
                                location.reload();
                            }else if (result.status == 2) {
                                alert("充值成功!但订单状态修改失败");
                                location.reload();
                            }else {
                                // layer.msg(result.message, {
                                //     icon: 1,
                                //     time: 1000,
                                // },function(){
                                //     $(obj).parents("tr").remove();
                                //     location.reload();
                                // });
                                alert("充值失败!");
                                location.reload();
                            }
                        }
                    });
                // });
            }
            function toback(ob,id){
                var ids = id;
                // confirm('确认不通过？',function() {
                //     console.log(ids);
                    $.ajax({
                        url: "/Adminlmcq/Wealth/nopay",
                        data: {
                            id: ids
                        },
                        type: 'get',
                        success: function(result) {
                            if (result.status==0) {
                                // layer.msg(result.message, {
                                //     icon: 5,
                                //     time: 1000,
                                // });
                                alert("操作成功!");
                                location.reload();
                            } else {
                                // layer.msg(result.message, {
                                //     icon: 1,
                                //     time: 1000,
                                // },function(){
                                //     $(obj).parents("tr").remove();
                                //     location.reload();
                                // });
                                alert("操作失败!");
                                location.reload();
                            }
                        }
                    });
                //});
            }
        </script>

    </body>

</html>
