<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <link href="__PUBLIC__/Admin/sncss/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/Admin/sncss/js/jquery.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".click").click(function () {
                    $(".tip").fadeIn(200);
                });

                $(".tiptop a").click(function () {
                    $(".tip").fadeOut(200);
                });

                $(".sure").click(function () {
                    $(".tip").fadeOut(100);
                });

                $(".cancel").click(function () {
                    $(".tip").fadeOut(100);
                });

            });
        </script>
    </head>
    <body>

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#">首页</a></li>
                <li><a href="#">订单管理</a></li>
                <li><a href="#">交易成功订单</a></li>
            </ul>
        </div>
        <div class="rightinfo">
            <div class="tools">
                <form id="form1" name="form1" method="post" action="/Adminlmcq/Wealth/successfulOrder">
                    <input name="user_name" placeholder="请输入买入用户昵称" type="text" class="dfinput" id="user" />
                    <input name="" type="submit" class="btn" value="确认搜索"/>
                </form>
            </div>
            <table class="tablelist">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>买入订单</th>
                        <th>卖出订单</th>
                        <th>买入用户昵称</th>
                        <th>卖出用户昵称</th>
                        <th>数量</th>
                        <th>状态</th>
                        <th>匹配时间</th>
                        <!-- <th>打款截止时间</th> -->
                        <th>打款时间</th>
                        <th>收款时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name='list' item='v'>
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.buy_order}</td>
                            <td>{$v.sale_order}</td>
                            <td>{$v.buy_name}</td>
                            <td>{$v.sale_name}</td>
                            <td>{$v.money}</td>
                            <td>
                                <if condition="$v.status eq 0">交易中</if>
                                <if condition="$v.status eq 1">交易成功</if>
                                <if condition="$v.status eq 2">超时未打款</if>
                            </td>
                            <td>{$v.addtime}</td>
                            <!-- <td>{$v.actiontime}</td> -->
                            <td>
                                <if condition="$v.totime eq null">- - - -
                                    <else/>{$v.totime}
                                </if>
                            </td>
                            <td>
                                <if condition="$v.sktime eq null">- - - -
                                    <else/>{$v.sktime}
                                </if>
                            </td>
                            <td>
                                <!-- <a href="/Adminlmcq/Wealth/deleteorder/id/{$v.id}">订单删除</a> -->
                                <a onClick="javascript:if(!confirm('删除此订单会删除匹配记录及排单记录，确定删除吗?'))  return  false; " href="/Adminlmcq/Wealth/deleteorder/id/{$v.id}" >删除</a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <style>.pages a,.pages span {
                    display:inline-block;
                    padding:2px 5px;
                    margin:0 1px;
                    border:1px solid #f0f0f0;
                    -webkit-border-radius:3px;
                    -moz-border-radius:3px;
                    border-radius:3px;
                }
                .pages a,.pages li {
                    display:inline-block;
                    list-style: none;
                    text-decoration:none; color:#58A0D3;
                }
                .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
                    margin:0;
                }
                .pages a:hover{
                    border-color:#50A8E6;
                }
                .pages span.current{
                    background:#50A8E6;
                    color:#FFF;
                    font-weight:700;
                    border-color:#50A8E6;
                }</style>

            <div class="pages"><br />
                <div align="right">{$page}
                </div>
            </div>

            <!--<div class="pages"><br />-->

                <!--<div align="right">{$page}-->
                    <!--<input name="new_page" type="number" class="dfinput" id="new_page"  min="1" placeholder="请输入要跳转的页码" />-->
                    <!--<input name="new_page_btn" type="button" class="btn" id="new_page_btn"  value="确认"/>-->
                <!--</div>-->
            <!--</div>-->


            <div class="tip">
                <div class="tiptop"><span>提示信息</span><a></a></div>

                <div class="tipinfo">
                    <span><img src="images/ticon.png" /></span>
                    <div class="tipright">
                        <p>是否确认对信息的修改 ？</p>
                        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                </div>

                <div class="tipbtn">
                    <input name="" type="button"  class="sure" value="确定" />&nbsp;
                    <input name="" type="button"  class="cancel" value="取消" />
                </div>

            </div>




        </div>

        <script type="text/javascript">
            $('.tablelist tbody tr:odd').addClass('odd');
            $("#new_page_btn").click(function () {
                var new_page=$("#new_page").val();
                var search_data=$("#user").val();
                if(new_page=='' || new_page=='undefined' || new_page <1){
                    alert('请输入正确的页码');
                    return false;
                }
                var go_url='';
                if(search_data.length<=0){
                    go_url='/Adminlmcq/Wealth/wallet/p/'+new_page+'.html';
                }else{
                    go_url='/Adminlmcq/Wealth/wallet/user_name/'+search_data+'/p/'+new_page+'.html';
                }
                window.location.href=go_url;
            });
        </script>

    </body>

</html>
