<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$Think.lang.orderupc}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/order-details.css" />
		<style type="text/css">
			.center_img{position: relative;text-align: left;margin-top: 10px;height:200px;flex: 4;-webkit-flex: 4;}
			.center_img img{height: 100%;width:100%;padding: 0;color: #999;top: 0px; left: 7rem;border: 1px solid #ccc;}
			.center_img input{opacity: 0; top: 0px; position: absolute; height: 100%;width:100%;z-index: 2;border: 1px solid #ccc;}
		</style>
		<script src="__PUBLIC__/Home/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// H5 plus事件处理
			function plusReady() {
				// 设置系统状态栏背景为红色
				plus.navigator.setStatusBarBackground('#409BFE');
                plus.navigator.setStatusBarStyle('light');
			}
			if(window.plus) {
				plusReady();
			} else {
				document.addEventListener('plusready', plusReady, false);
			}
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="/Home/OrderCenter/buy_matching_list" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div class="conD">
			<input type="hidden" name="matchid" id="matchid" value="{$list.id}">
			<ul class="backgroundGreenD">
				<li class="flexBetween">
					<span>订单股权数量:{$list.amount}</span>
					<if condition="$list.status eq 0"><span>待支付</span></if>
					<if condition="$list.status eq 1"><span>已支付</span></if>
					<if condition="$list.status eq 2"><span>已完成</span></if>
				</li>
				<li>
					<span>订单股权价值:{$money}</span>
				</li>
				<!-- <li><span>已匹配:{$list.amount}￥</span></li> -->
				<li class="flexBetween">
					<span>订单号：{$list.buyordernumber}</span>
					<img class="flag" src="__PUBLIC__/Home/img/icon/guoqi@2x.png" />
				</li>
				<li>
					<span>时间:</span>
					<span>{$list.buyordertime}</span>
				</li>
				<!-- <li>
					<span>利率:</span>
					<span>{$config.interest_price}%</span>
				</li> -->
				<if condition="$list.status eq 0">
					<li>
						<span>打款倒计时:</span>
						<span style="color: red;font-weight: bold;" id="t_h"></span>时
						<span  style="color: red;font-weight: bold;" id="t_m"></span>分
						<span  style="color: red;font-weight: bold;" id="t_s"></span>秒
					</li>
				</if>
				<if condition="$list.status eq 1">
					<li>
						<span>{$Think.lang.paymenttime}:</span>
						<span>{$list.payed_time}</span>
					</li>
				</if>
				<li class="twoT">
					<span>姓名:</span>
					<span>{$saleinfo.user_truename}</span>
				</li>
				<li>
					<span>电话:</span>
					<span>{$saleinfo.user_phone}</span>
				</li>
<!--				<li>-->
<!--					<span>{$Think.lang.viplevel}:</span>-->
<!--					<span>{$saleinfo.saleuserlevel}</span>-->
<!--				</li>-->
<!--				<li>-->
<!--					<span>{$Think.lang.reputation}:</span>-->
<!--					<span>{$saleinfo.user_reputation}</span>-->
<!--				</li>-->
				<li>
					<span>支付宝:</span>
					<span>{$pay.payforali}</span>
				</li>
				<foreach name="list.bankcard" item="bn">
					<li>
						<span>{$Think.lang.openbank}:</span>
						<span>{$bn.card_kaihu}</span>
					</li>
					<li>
						<span>{$Think.lang.banknum}:</span>
						<span>{$bn.id_card}</span>
					</li>
				</foreach>
<!--				<li>-->
<!--					<span>领导人昵称:</span>-->
<!--					<span>{$saleinfo.saleuser_leadername}</span>-->
<!--				</li>-->
<!--				<li>-->
<!--					<span>领导人电话:</span>-->
<!--					<span>{$saleinfo.saleuser_leaderphone}</span>-->
<!--				</li>-->
				<li>
					<if condition="$list.pay_img neq null"><span>打款凭证图：</span></if>
					<if condition="$list.pay_img eq null"><span>上传凭证图：</span></if>
					<input type="hidden" name="erweima" id="erweima">
					<div class="center_img">
						<if condition="$list.pay_img neq null"><img id="pay_img" src="{$list.pay_img}"></if>
						<if condition="$list.pay_img eq null">
							<img id="preview-img" src="/Public/Home/img/sc.jpg">
							<input type="file" value="" id="FILE1" onchange="sc(this.id)" />
						</if>   　　　
			            <div class="clr"></div>
		            </div>
				</li>
				<button class="payBtn">已付款</button>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="__HOME__/layer/layer.js"></script>
	<script type="text/javascript">
		if({$list.status}===0){
			var timer = setInterval(function(){
				var NowTime = new Date();
	            var t = {$list.endtime} - NowTime.getTime();
	            var h = 0;
	            var m = 0;
	            var s = 0;
	            if(t >= 0) {
	            	h = Math.floor(t / 1000 / 60 / 60);
	              	m = Math.floor(t / 1000 / 60 % 60);
	              	s = Math.floor(t / 1000 % 60);
	              	if(h <= 9) h = '0' + h;
				    if(m <= 9) m = '0' + m;
				    if(s <= 9) s = '0' + s;
		            document.getElementById("t_h").innerHTML = h;
		            document.getElementById("t_m").innerHTML = m;
		            document.getElementById("t_s").innerHTML = s;
	            }else{
	            	var uid = {$list.buy_id};
					$.ajax({
						'url': '/Home/OrderCenter/overtime',
						'type': 'post',
						'data': {uid:uid},
						'dataType': 'json',
						success: function (res) {
							alert(res.msg);
							window.location.reload();
						}
					});
	            	document.getElementById("t_h").innerHTML = h;
		            document.getElementById("t_m").innerHTML = m;
		            document.getElementById("t_s").innerHTML = s;
		            clearInterval(timer);
	            }
			},1000)
		}
		//确认打款
		$(".payBtn").click(function(){
			var matchid=$('input[name=matchid]').val();
			var photo=$('input[name=erweima]').val();
			layer.confirm('{$Think.lang.confirmationof}?',{title:['{$Think.lang.prompt}'],
			btn:['{$Think.lang.Determine}','{$Think.lang.cancel}'],
			},function(){
				$.ajax({
					url:'/Home/OrderCenter/besurepayed',
					data:{matchid:matchid,photo:photo},
					dataType:'json',
					type:'post',
					success:function(data){
						if (data.status==0) {
							layer.msg(data.message,{icon:5,time:3000});
						}else{
							layer.msg(data.message,{icon:6,time:3000},function(){
								//window.parent.location.reload(true);
								location.href="/Home/OrderCenter/buy_matching_list";
							});
						}
					}
				});
			});
		});
		function sc(id){
			var fileObj = document.getElementById(id).files[0]; // 获取文件对象
			var FileController = "{:U('OrderCenter/upfile')}";                    // 接收上传文件的后台地址
			// FormData 对象
			var form = new FormData();    //存储需要传递的参数
			form.append(id, fileObj);     // 文件对象
			var xhr = new XMLHttpRequest();
			xhr.open("post", FileController, true);
			xhr.onload = function () {
			    var posit=this.responseText;
			    document.getElementById('erweima').value=posit;
			    var show=document.getElementById('preview-img');
			    show.src=posit;
			};
			xhr.send(form);
		};
	</script>
</html>