<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/kindeditor.js"></script>
        <script charset="utf-8" src="__PUBLIC__/Admin/kindeditor/lang/zh_CN.js"></script>
        <script type="text/javascript" src='__PUBLIC__/Js/jquery-1.7.2.min.js'></script>
        <link rel="stylesheet" href="__PUBLIC__/Uploadify/uploadify.css"/>
        <script type="text/javascript" src='__PUBLIC__/Uploadify/jquery.uploadify.min.js'></script>
         <script type='text/javascript'>
                var PUBLIC = '__PUBLIC__';
                var uploadUrl = '{:U("Upload/uploadFace")}';
                var sid = "{$ssid}";
                var ROOT = '__ROOT__';
          </script>

        <script type="text/javascript">
         //上传插件
        $(function() {
         
            $('#face').uploadify({
                swf : PUBLIC + '/Admin/Uploadify/uploadify.swf',    //引入Uploadify核心Flash文件
                uploader : uploadUrl,   //PHP处理脚本地址
                width : 120,    //上传按钮宽度
                height : 30,    //上传按钮高度
                buttonImage : PUBLIC + '/Admin/Uploadify/browse-btn.png',   //上传按钮背景图地址
                fileTypeDesc : 'Image File',    //选择文件提示文字
                fileTypeExts : '*.jpeg; *.jpg; *.png; *.gif',   //允许选择的文件类型
                formData : {'session_id' : sid},
                //上传成功后的回调函数
                onUploadSuccess : function (file, data, response) {
                    
                    eval('var data = ' + data);
                    if (data.status) {
                        $('#face-img').attr('src', ROOT + '/Uploads/' + data.path);
                        $('input[name=imagepath]').val('/Uploads/'+data.path);
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });
        </script>
    </head>
    <body>
        <label></label>
        <div class="rightinfo">
            <form action="/Adminlmcq/News/newsEdit"  enctype="multipart/form-data" name="news" id="xgmm" method="post">
                <input name="id" type="hidden" value="{$data.id}">
                    <table width="90%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" class="tablebg" id="table1">
                        <tr>
                            <td width="157" bgcolor="#FFFFFF" class="tbkey" >分类：</td>
                            <td width="301" bgcolor="#FFFFFF" class="tbval" >
                              <select name="type" id="selectid">
                                <option value="1" selected="selected">新闻公告</option>
                                <!-- <option value="2" >平台制度</option> -->
                                <!-- <option value="3" >新手指南</option> -->
                                <option value="4" >关于我们</option>
                              </select>
                              <script type="text/javascript">
                                var thelabel='{$data.type}';
                                $('#selectid option').each(function(){
                                    var label1=$(this);
                                    var label1val=label1.val();
                                    if (label1val==thelabel) {
                                        label1.attr('selected','true');
                                    }
                                });
                              </script>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#FFFFFF" class="tbkey" >标题:</td>
                            <td bgcolor="#FFFFFF" class="tbval"><input name="title" type="text" id="IF_theme" size="90" maxlength="60" value="{$data.title}" /></td>
                        </tr>
                        <tr>
                            <td bgcolor="#FFFFFF" class="tbkey" >缩略图：</td>
                            <td bgcolor="#FFFFFF" class="tbval">
                            <input type="hidden" name="erweima" id="erweima" value="{$data.new_img}">
                            <img src="{$data.new_img}" width='140' height='140' id='face-img'/>
                            <input type="file" value="" id="FILE1" onchange="sc(this.id)" />
                            </td>
                        </tr>     
                        <tr>
                            <td bgcolor="#FFFFFF" class="tbkey" >内容：</td>
                            <td bgcolor="#FFFFFF" class="tbval">	
                                <script>
                                    KindEditor.ready(function (K) {
                                        var editor1 = K.create('textarea[name="content"]', {
                                            cssPath: '__PUBLIC__/Admin/kindeditor/plugins/code/prettify.css',
                                            uploadJson: '__PUBLIC__/Admin/kindeditor/php/upload_json.php',
                                            fileManagerJson: '__PUBLIC__/Admin/kindeditor/php/file_manager_json.php',
                                            allowFileManager: true,
                                            afterCreate: function () {
                                                var self = this;
                                                K.ctrl(document, 13, function () {
                                                    self.sync();
                                                    K('form[name=example]')[0].submit();
                                                });
                                                K.ctrl(self.edit.doc, 13, function () {
                                                    self.sync();
                                                    K('form[name=example]')[0].submit();
                                                });
                                            }
                                        });
                                        prettyPrint();
                                    });
                                </script>
                                <textarea name="content" style="width:700px;height:200px;visibility:hidden;">
                                    <?php echo $data['content'];?>
                                </textarea>
                            </td>
                            </tr>
                        </table>
                        <!--基本信息結束-->
                        <div id="state_lockcon" ></div>		
                        <table class="tablebg" id="table3" style="clear:both">
                            <TR>
                                <td colspan="3" >
                                    <input   type="submit" class="button_text"  id="btn" value="确定"> 
                                </TD>
                            </TR>
                        </table>		
                </form>

                <div class="pages"><br />

                    <div align="right">{$page}
                    </div>
                </div>


            </div>

        </body>
        <script type="text/javascript">
            function sc(id){
                var fileObj = document.getElementById(id).files[0]; // 获取文件对象
                var FileController = "{:U('NewsCenter/upfile')}";                    // 接收上传文件的后台地址 
                // FormData 对象
                var form = new FormData();    //存储需要传递的参数
                // form.append("author", "竹叶科技");       //自定义数据
                // form.append("id",id);                       // 可以增加表单数据
                form.append(id, fileObj);                           // 文件对象
                // XMLHttpRequest 对象
                var xhr = new XMLHttpRequest();
                xhr.open("post", FileController, true);
                xhr.onload = function () {
                    var posit=this.responseText;
                    document.getElementById('erweima').value=posit;
                    var show=document.getElementById('face-img');
                    show.src=posit;
                };
                xhr.send(form);
            };
        </script>
    </html>
